@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}

.flex {
  display: flex;
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}
